* {
    margin: 0;
    padding: 0;
}

.titulo{
    border: 0;
    background-color: red;
    text-align: center;
   }

h1 {
 font-family: sans-serif;
 color: #262627;
}

/* PARA QUÊ SERVIA ISSO? VOCÊ NÃO TEM NENHUM ELEMENTO COM ID CHECK */
/* #check{
    display: inline-block;
} */

body{
    background-color: #fff2f0;
    font-family: sans-serif;
    font-size: 1em;
    color: #da2008;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

.campo{
    display:flex;
    justify-content: space-between;
    width: 45vw;
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0;
    color: #ca1818;
    display: block;   
}

.campo div {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 310px;
}

.campo div input {
    position: absolute;
    right: 0px;
}

/* .botaosalvar{
    font-size: 1.2em;
    background: #b64040;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    position: absolute;
    top: 90%;
    left: 55%;
    margin-right: -25%;
    transform: translate(-25%, -25%);
} */


.botaosalvar {
    font-size: 1.2em;
    background: #b64040;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 5);
    margin-left: auto;
}

.botaosalvar:hover{
    background: #ffbbbb;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 2);
    text-shadow: none;
}

.botaosalvar, select{
    cursor: pointer;
}
